# Python cache files
**/__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Results folder
results/
results_2/
results_old/
data_analysis/
episode_analysis/
learning_animation/

# Documents folder
docs/

# input files folder
inp_file/

# reference code folder
reference_code/

# additional project folder
api_app/
lid_equation/

*.path
*.log
*/temp_simulation/